@use '../variables' as *;
@use '../mixins' as *;

.hero,
.features,
.companies,
.why,
.integrations,
.pricing {
  padding: 4.5rem 0;

  @include below(md) {
    padding: 3.5rem 0;
  }
}

.features,
.why {
  padding-top: 0;
}

.hero,
.features,
.companies,
.why,
.integrations,
.pricing,
.footer {
  scroll-margin-top: 96px;
}
